
<h2>{{user.firstName}}</h2>
<p *ngIf="user.description && user.description.length > 0">Description : {{user.description}}</p>
<p>Genre : {{user.gender}}</p>
<p>Recherche : {{user.desiredGender}}</p>
<button class="btn btn-sm btn-success"
        *ngIf="isLikedByRequester"
        (click)="dislike()">Liked
</button>
<button class="btn btn-sm btn-success"
        *ngIf="!isLikedByRequester"
        (click)="like()">like
</button>
<a [routerLink]="['/conv', user.id]"
        *ngIf="isLikedByRequester && likedRequester">Voir la conversation
</a>
