.btn-like {
  color: #fff;
  background-color: rgba(162, 177, 234, 1);
  border-color: rgba(162, 177, 234, 1);
}

.btn-like:hover {
  color: #fff;
  background-color: rgba(183, 162, 234, 1);
  border-color: rgba(183, 162, 234, 1);
}

