
<!-- TODO mettre retour à la liste : récupérer la ville ? -->

<h2>{{user.firstName}}</h2>
<p *ngIf="user.description && user.description.length > 0">{{user.description}}</p>
<p>Genre : {{user.gender}}</p>
<p>Recherche : {{user.desiredGender}}</p>
<button class="btn btn-sm btn-success"
        *ngIf="isLikedByRequester"
        (click)="like()">Liked
</button>
<button class="btn btn-sm btn-success"
        *ngIf="!isLikedByRequester"
        (click)="dislike()">like
</button>
<button class="btn btn-sm btn-success"
        *ngIf="isLikedByRequester && likedRequester"
        (click)="dislike()">Voir la conversation <!-- TODO adapter ça pour renvoyer vers route qui donnera la conversation -->
</button>
