<div class="position-relative vh-80 mt-5">
  <div class="position-absolute start-50 top-50 translate-middle rounded-50 p-5 shadow-lg" id="inscription">
    <div class="position-relative">
      <a routerLink=".." class="position-absolute top--10 start--10 first-plan bg-light-blue rounded-circle p-2 shadow-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </a>
      <form (ngSubmit)="onSubmit()" #formUser="ngForm">
        <div class="mb-3 form-floating">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required="">
          <label for="email" class="form-label">Email</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required="">
          <label for="password" class="form-label">Mot de passe</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstname" required="">
          <label for="firstName" class="form-label">Prénom</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city" required="">
          <label for="city" class="form-label">Ville</label>
        </div>
        <div class="mb-3 form-floating">
          <select class="form-select" aria-label="gender" id="gender" name="gender" [(ngModel)]="gender" required="">
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
          <label for="gender" class="form-label">Genre </label>
        </div>
        <div class="mb-3 form-floating">
        <textarea class="form-control" id="description" rows="3" name="description"
                  [(ngModel)]="description"></textarea>
          <label for="description" class="form-label">Description</label>
        </div>
        <div class="mb-3 form-floating">
          <select class="form-select" aria-label="desiredGender" id="desiredGender" name="desiredGender"
                  [(ngModel)]="desiredGender" required="">
            <option value="homme">des hommes</option>
            <option value="femme">des femmes</option>
            <option value="homme/femme">les deux</option>
          </select> <label for="desiredGender" class="form-label">Je recherche </label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-light-blue" [disabled]="formUser.invalid">Modifier</button>
        </div>
      </form>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-danger" (click)="deleteUser()">Supprimer</button>
    </div>
  </div>
</div>
