.like {
  min-height: 25vh;
  max-height: 25vh;
}


.bg-cyan {
  background-color: #cfe2ff;
}

.rounded-50 {
  border-radius: 50px;
}

.first-plan {
  z-index: 1000;
}

.start--3 {
  left: -3%;
}

.top--3 {
  top: -3%;
}

