body {
  --light-blue: rgba(162, 177, 234, 1);
  --dark-blue: rgba(55, 86, 237, 1);
}

.like {
  min-height: 25vh;
  max-height: 25vh;
}


.first-plan {
  z-index: 1000;
}

.start--3 {
  left: -3%;
}

.top--3 {
  top: -3%;
}

.halfw {
  width: 40%;
}

@media (max-width: 991.98px) {
  .halfw {
    width: 100%;
  }
}
