<div *ngIf="message.sender !== requesterId" class="mb-2 d-flex" id="{{message.id}}">
  <div class="bg-light-blue rounded p-1 d-flex align-items-center">
    <a [routerLink]="['/users', message.sender]" class="text-decoration-none pe-1">{{sender}} : </a>
    <div>{{message.content}}</div>
  </div>
</div>

<div *ngIf="message.sender === requesterId" class="mb-2 d-flex flex-row-reverse" id="{{message.id}}">
  <div class="bg-dark-blue text-white rounded p-1">
    {{message.content}}
  </div>
  <button class="btn bg-pink" *ngIf="message.sender === requesterId" (click)="deleteMessage(message)">
    <img class="img-fluid mx-auto d-block" src="../resources/trash.svg" alt="delete"/>
  </button>
</div>
