<div class="row mt-5">
  <div class="col">
    <form (ngSubmit)="onSubmit(formCity)" #formCity="ngForm" class="row">
        <div class="col">
          <input type="text" id="city" class="form-control" name="city" minlength="1" [value]="searchQuery" placeholder="Ville où vous souhaitez faire des rencontres" ngModel required>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="submit" [disabled]="formCity.invalid">Chercher</button>
        </div>
    </form>
  </div>
</div>
<div class="mt-5">
  <div class="row">
    <p *ngIf="usersInCity && usersInCity.length === 0">Il n'y a aucun résultat pour cette recherche. Peut-être dans une
    ville voisine ?</p>
    <ul class="list-group">
        <app-users *ngFor="let user of usersInCity"
                   [id]="user.id"
                   [firstName] = "user.firstName"
                   [desiredGender]="user.desiredGender">
        </app-users>
      </ul>
  </div>
</div>
