<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active"><a routerLink="search" class="btn">Trouver Charli.e</a></li>
      <li routerLinkActive="active"><a routerLink="profile" class="btn">Profil</a></li>
      <li routerLinkActive="active"><a routerLink="conv" class="btn">Mes Conversations
        <img *ngIf="hasNewMessages" src="app/resources/heart.png" alt="" />
        </a>
      </li>
      <li *ngIf="!isConnected" routerLinkActive="active"><a routerLink="inscription" class="btn">Inscription</a></li>
      <li *ngIf="!isConnected" routerLinkActive="active"><a routerLink="login" class="btn">Se Connecter</a></li>
      <li *ngIf="isConnected"><button (click)="disconnect()" class="btn">Se Deconnecter</button></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
