<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active"><a routerLink="inscription">Inscription</a></li>
      <li routerLinkActive="active"><a routerLink="search">Trouver Charli.e</a></li>
      <li routerLinkActive="active"><a routerLink="profile" class="btn">Profil</a></li>
      <li routerLinkActive="active"><a routerLink="conv">Mes Conversations
        <img *ngIf="hasNewMessages" src="app/resources/heart.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
