.rounded-50 {
  border-radius: 50px;
}

.vh-80 {
  height: 80vh;
}

.bg-dark-blue {
  background-color: rgba(55, 86, 237, 1);
}

.bg-light-blue {
  background-color: rgba(162, 177, 234, 1);
}

.bg-cyan {
  background-color: #cfe2ff;
}

.category {
  color: rgba(55, 86, 237, 1);
}

.name-title {
  color: rgba(162, 177, 234, 1);
}

.text-dark-blue {
  color: rgba(55, 86, 237, 1);
}
