.rounded-50 {
  border-radius: 50px;
}

.vh-80 {
  height: 80vh;
}

.end-5 {
  right: 5%;
}

.bg-grey {
  background-color: #d3d3d3;
}

.bg-pink {
  background-color: rgba(219, 162, 234, 1);
  }

.bg-dark-blue {
  background-color: rgba(55, 86, 237, 1);
}

.bg-light-blue {
  background-color: rgba(162, 177, 234, 1);
}

.bg-cyan {
  background-color: #cfe2ff;
}

.category {
  color: rgba(55, 86, 237, 1);
}

.name-title {
  color: rgba(162, 177, 234, 1);
}

.text-dark-blue {
  color: rgba(55, 86, 237, 1);
}

.btn-dark-blue {
  color: #f0f0f0;
  background-color: rgba(55, 86, 237, 1);
  border-color: rgba(55, 86, 237, 1);
}

.btn-dark-blue:hover {
  color: #f0f0f0;
  background-color: rgba(115, 55, 237, 1);
  border-color: rgba(115, 55, 237, 1);
}


.btn-light-blue {
  color: #f0f0f0;
  background-color: rgba(162, 177, 234, 1);
  border-color: rgba(162, 177, 234, 1);
}

.btn-light-blue:hover {
  color: #f0f0f0;
  background-color: rgba(183, 162, 234, 1);
  border-color: rgba(183, 162, 234, 1);
}


.first-plan {
  z-index: 1000;
}

.start--3 {
  left: -3%;
}

.start--10 {
  left: -12%;
}

.top--3 {
  top: -3%;
}

.top--10 {
  top: -12%;
}

.halfw {
  width: 40%;
}

@media (max-width: 991.98px) {
  .halfw {
    width: 100%;
  }
}

.my-dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding: 0.25rem;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  cursor: pointer;
}
