<h1>Bienvenu.e sur XXXXXX</h1>
<h2>Le premier site de rencontres où vous serez jugés sur ce que vous êtes.</h2>
<p>
  Beaucoup de sites de rencontres, encore aujourd'hui, exigent de vous une photo, et vont même jusqu'à vous conseiller
  sur la façon de vous mettre en valeur pour faire des rencontres. Et ainsi, les photos sont retouchées, mises en scène,
  voire parfois prises sur internet, et les rencontres deviennent un jeu de dupes.</p>
<p>
  Chez XXXXXX, nous n'avons pas perdu de vue que, ce qui fait de vous un être unique et beau, c'est avant tout votre
  personnalité, vos goûts et vos intérêts. Voilà pourquoi nous vous proposons de faire des rencontres en discutant avec
  des gens sans les avoir vu : afin que vous puissiez apprendre à les connaître pour ce qu'ils sont.
</p>
<p>
  Alors n'hésitez pas et rejoignez-nous en vous inscrivant gratuitement !
</p>
<a routerLink="/inscription">S'inscrire gratuitement !</a>
