<div class="position-absolute top-50 start-50 translate-middle">
  <div>
    <img src="../resources/logooo2.png" alt="logo" class="mx-auto d-block">
    <h1 class="text-center">Bienvenu.e sur C'est Marseille bébé</h1>
    <h2>Le premier site de rencontres où vous serez jugés sur ce que vous êtes.</h2>
    <p>
      Beaucoup de sites de rencontres, encore aujourd'hui, exigent de vous une photo, et vont même jusqu'à vous
      conseiller
      sur la façon de vous mettre en valeur pour faire des rencontres. Et ainsi, les photos sont retouchées, mises en
      scène,
      voire parfois prises sur internet, et les rencontres deviennent un jeu de dupes.</p>
    <p>
      Chez C'est Marseille bébé, nous n'avons pas perdu de vue que, ce qui fait de vous un être unique et beau, c'est avant tout votre
      personnalité, vos goûts et vos intérêts. Voilà pourquoi nous vous proposons de faire des rencontres en discutant
      avec
      des gens sans les avoir vu : afin que vous puissiez apprendre à les connaître pour ce qu'ils sont.
    </p>
    <p>
      Alors n'hésitez pas et rejoignez-nous en vous inscrivant gratuitement !
    </p>
  </div>
  <div class="position-relative mt-5">
    <div class="position-absolute top-0 start-50 translate-middle">
      <a routerLink="/inscription" class="btn btn-info align-content-center">S'inscrire gratuitement !</a>
    </div>
  </div>
</div>
